* {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
}

nav {
	max-width: 100%;
	background-color: #000;
}

.navbar {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	height: auto;
	margin: 0 auto;
	position: relative;
	background-color: #000;
	color: #fff;
}

.brand-title {
	font-size: 2rem;
	margin: 1rem;
}

.navbar-links {
	display: none;
	width: 100%;
}

.navbar-links.active {
	display: block;
}

.navbar-links ul {
	width: 100%;
	flex-direction: column;
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.navbar-links li {
	text-align: center;
	padding: 0.5rem 1rem;
}

.navbar-links li a {
	text-decoration: none;
	color: #fff;
}

.navbar-links li:hover {
	background-color: #555;
}

.toggle-button {
	width: 30px;
	height: 21px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	position: absolute;
	top: 1.5rem;
	right: 10%;
}

.toggle-button .bar {
	height: 3px;
	width: 100%;
	background-color: #fff;
	border-radius: 10px;
}

@media screen and (min-width: 750px) {
	.brand-title {
		font-size: 1.5rem;
	}

	.navbar {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
		max-width: 1170px;
		height: 14vh;
	}

	.toggle-button {
		display: none;
	}
	
	.navbar-links {
		display: block;
		width: auto;
	}

	.navbar-links ul {
		display: flex;
		flex-direction: row;
		color: #fff;
	}

	.navbar-links ul li {
		display: flex;
		align-items: center;
		padding: 0.5rem 1rem;
	}

	.navbar-links ul li a {
		display: block;
	}
}
